.projects-page {
  padding-top: 160px;
}

.projects-page__caption {
  font-family: "Lighthaus";
  font-size: 40px;
  font-weight: 800;
  text-align: center;
}

.projects-page__slider {
  max-width: 1240px;
  padding: 0 60px;
  padding-top: 60px;
  padding-bottom: 100px;
  margin: 0 auto;
}

.projects-page__slider__item {
  width: 100%;
  height: 677px;

  background-color: #797979;
}

.all-projects {
  max-width: 1110px;
  padding: 0 40px;
  margin: 0 auto;
}

.projects__filters {
  display: flex;
  justify-content: space-between;

  width: 568px;
  margin-bottom: 58px;
}

.projects__filters__item {
  font-family: "Steppe";
  font-size: 18px;
  font-weight: 800;
  color: #7D7D7D;
}

.projects__filters__item--active {
  color: #000;
}

.all-projects__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.all-projects__item {
  position: relative;

  width: 320px;
  height: 430px;
  margin: 0 25px 50px 25px;

  background-color: #797979;
}

.button-more__text {
  font-family: "Steppe";
}

.all-projects__navigation {
  display: flex;
  flex-shrink: 0;

  max-width: 457px;
  padding-bottom: 55px;
  margin: 0 auto;
}

.navigation__button-left {
  margin-right: 70px;
}

.navigation__button-right {
  margin-left: 70px;
}

.navigation__page-numbers {
  display: flex;
  justify-content: center;
}

.navigation__page__item {
  margin: 0 20px;
  font-size: 24px;
  font-weight: 700;
  color: #7D7D7D;
}

.navigation__page__item--active {
  color: #000;
}
